
.DS_Store
Week2/Rapport.toc
Week2/Rapport.tdo
Week2/Rapport.sta
Week2/Rapport.out
Week2/Rapport.lot
Week2/Rapport.lol
Week2/Rapport.log
Week2/Rapport.lof
Week2/Rapport.listing
Week2/Rapport.aux
Exam/Artikel.log
Exam/Artikel.out
Exam/Artikel.aux
Exam/Artikel.sta
Exam/Artikel.toc
Exam/Artikel.blg
Exam/Artikel.bbl
Exam/Part2/Artikel.sta
